#Vivado
*.jou
*.log
*.str
/fpga/vivado/

#Cocotb and Sim
**/sim_build/
**/*.vcd
**/*.fst
**/*.vvp
**/hd_visuals/
results.xml

#Py
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.venv/

# System specific
.DS_Store
Thumbs.db

#Extra
/old/